KendoMatbaa/KendoMatbaa/Service References/IKBSServis/ikbs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="http://tempuri.org/PersonelVekaletDataSet.xsd" />
      <s:import namespace="http://tempuri.org/TetkikciKategoriDataSet.xsd" />
      <s:import namespace="http://tempuri.org/TetkikciNaceDataSet.xsd" />
      <s:import schemaLocation="http://ikbs.tse.org.tr/webservisler/ikbs.asmx?schema=PersonelVekaletDataSet" namespace="http://tempuri.org/PersonelVekaletDataSet.xsd" />
      <s:import schemaLocation="http://ikbs.tse.org.tr/webservisler/ikbs.asmx?schema=TetkikciKategoriDataSet" namespace="http://tempuri.org/TetkikciKategoriDataSet.xsd" />
      <s:import schemaLocation="http://ikbs.tse.org.tr/webservisler/ikbs.asmx?schema=TetkikciNaceDataSet" namespace="http://tempuri.org/TetkikciNaceDataSet.xsd" />
      <s:element name="BirimListesi">
        <s:complexType />
      </s:element>
      <s:element name="BirimListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BirimListesiResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelListesi">
        <s:complexType />
      </s:element>
      <s:element name="PersonelListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelListesiResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelListesiPDKS">
        <s:complexType />
      </s:element>
      <s:element name="PersonelListesiPDKSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelListesiPDKSResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelIzinListesiPDKS">
        <s:complexType />
      </s:element>
      <s:element name="PersonelIzinListesiPDKSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelIzinListesiPDKSResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelIzinGorulduYapPDKS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelIzinGorulduYapPDKSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PersonelIzinGorulduYapPDKSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BirimBilgisiGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BirimUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BirimBilgisiGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BirimBilgisiGetirResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BirimGrupBaskaniGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BirimUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BirimGrupBaskaniGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BirimGrupBaskaniGetirResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelSorumlulukGetirTCden">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TCKimlikNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelSorumlulukGetirTCdenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelSorumlulukGetirTCdenResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelSorumlulukGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PersorUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelSorumlulukGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelSorumlulukGetirResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MudurlukAltindakiIzinliSayisi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MudurlukAltindakiIzinliSayisiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MudurlukAltindakiIzinliSayisiResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MudurlukAltindakiIzinliSayisiSorumluluktan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BirimUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MudurlukAltindakiIzinliSayisiSorumluluktanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MudurlukAltindakiIzinliSayisiSorumluluktanResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AmirleriGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AmirleriGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AmirleriGetirResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AmirleriGetirSorumluluktan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PerSorUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AmirleriGetirSorumluluktanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AmirleriGetirSorumluluktanResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirmaPersonelAmirleriGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FirmaPersonelAmirleriGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirmaPersonelAmirleriGetirResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MudurlukAltindakiBirimler">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MudurlukAltindakiBirimlerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MudurlukAltindakiBirimlerResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelKadroListesi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelKadroListesiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelKadroListesiResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelKadroListesiSorumluluktan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PerSorUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelKadroListesiSorumluluktanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelKadroListesiSorumluluktanResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBilgileri">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBilgileriResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelBilgileriResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBilgiGetirTcden">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TCKimlikNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBilgiGetirTcdenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelBilgiGetirTcdenResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBilgileriSorumluluktan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PerSorUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBilgileriSorumluluktanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelBilgileriSorumluluktanResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBilgileriAyrilanlarDahil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBilgileriAyrilanlarDahilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelBilgileriAyrilanlarDahilResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciUnvanGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KullaniciUnvanGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KullaniciUnvanGetirResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BirimListesiAsJson">
        <s:complexType />
      </s:element>
      <s:element name="BirimListesiAsJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BirimListesiAsJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelVekaletGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VekaletVerenKullaniciUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelVekaletGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelVekaletGetirResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/PersonelVekaletDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TetkikciKategoriGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Turu" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="standard" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="atamatar" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="durum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tetkikciun" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TetkikciKategoriGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TetkikciKategoriGetirResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/TetkikciKategoriDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TetkikciNaceGetir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eakodu" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="standard" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nacekodu" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="naceversiyonu" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tetkikciun" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TetkikciNaceGetirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TetkikciNaceGetirResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/TetkikciNaceDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelVekaletGetirSorumluluktan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VekaletVerenPerSorUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelVekaletGetirSorumluluktanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelVekaletGetirSorumluluktanResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/PersonelVekaletDataSet.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelIzinOnayNoAl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Icerikid" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="OnayNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="OnayTarihi" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelIzinOnayNoAlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PersonelIzinOnayNoAlResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelGorevIzinGir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelGorevIzinGirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PersonelGorevIzinGirResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelIzinHavaleEdildi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IcerikId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelIzinHavaleEdildiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PersonelIzinHavaleEdildiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TetkikciKategoriGir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="guncellememi" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TetkikciKategoriGirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TetkikciKategoriGirResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TetkikciNaceGir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="guncellememi" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TetkikciNaceGirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TetkikciNaceGirResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VekaletKullaniciUNGetirByPersonelUN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PersonelUN" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VekaletKullaniciUNGetirByPersonelUNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VekaletKullaniciUNGetirByPersonelUNResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonelBimser">
        <s:complexType />
      </s:element>
      <s:element name="PersonelBimserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonelBimserResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BirimListesiSoapIn">
    <wsdl:part name="parameters" element="tns:BirimListesi" />
  </wsdl:message>
  <wsdl:message name="BirimListesiSoapOut">
    <wsdl:part name="parameters" element="tns:BirimListesiResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelListesiSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelListesi" />
  </wsdl:message>
  <wsdl:message name="PersonelListesiSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelListesiResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelListesiPDKSSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelListesiPDKS" />
  </wsdl:message>
  <wsdl:message name="PersonelListesiPDKSSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelListesiPDKSResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelIzinListesiPDKSSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelIzinListesiPDKS" />
  </wsdl:message>
  <wsdl:message name="PersonelIzinListesiPDKSSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelIzinListesiPDKSResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelIzinGorulduYapPDKSSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelIzinGorulduYapPDKS" />
  </wsdl:message>
  <wsdl:message name="PersonelIzinGorulduYapPDKSSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelIzinGorulduYapPDKSResponse" />
  </wsdl:message>
  <wsdl:message name="BirimBilgisiGetirSoapIn">
    <wsdl:part name="parameters" element="tns:BirimBilgisiGetir" />
  </wsdl:message>
  <wsdl:message name="BirimBilgisiGetirSoapOut">
    <wsdl:part name="parameters" element="tns:BirimBilgisiGetirResponse" />
  </wsdl:message>
  <wsdl:message name="BirimGrupBaskaniGetirSoapIn">
    <wsdl:part name="parameters" element="tns:BirimGrupBaskaniGetir" />
  </wsdl:message>
  <wsdl:message name="BirimGrupBaskaniGetirSoapOut">
    <wsdl:part name="parameters" element="tns:BirimGrupBaskaniGetirResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelSorumlulukGetirTCdenSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelSorumlulukGetirTCden" />
  </wsdl:message>
  <wsdl:message name="PersonelSorumlulukGetirTCdenSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelSorumlulukGetirTCdenResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelSorumlulukGetirSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelSorumlulukGetir" />
  </wsdl:message>
  <wsdl:message name="PersonelSorumlulukGetirSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelSorumlulukGetirResponse" />
  </wsdl:message>
  <wsdl:message name="MudurlukAltindakiIzinliSayisiSoapIn">
    <wsdl:part name="parameters" element="tns:MudurlukAltindakiIzinliSayisi" />
  </wsdl:message>
  <wsdl:message name="MudurlukAltindakiIzinliSayisiSoapOut">
    <wsdl:part name="parameters" element="tns:MudurlukAltindakiIzinliSayisiResponse" />
  </wsdl:message>
  <wsdl:message name="MudurlukAltindakiIzinliSayisiSorumluluktanSoapIn">
    <wsdl:part name="parameters" element="tns:MudurlukAltindakiIzinliSayisiSorumluluktan" />
  </wsdl:message>
  <wsdl:message name="MudurlukAltindakiIzinliSayisiSorumluluktanSoapOut">
    <wsdl:part name="parameters" element="tns:MudurlukAltindakiIzinliSayisiSorumluluktanResponse" />
  </wsdl:message>
  <wsdl:message name="AmirleriGetirSoapIn">
    <wsdl:part name="parameters" element="tns:AmirleriGetir" />
  </wsdl:message>
  <wsdl:message name="AmirleriGetirSoapOut">
    <wsdl:part name="parameters" element="tns:AmirleriGetirResponse" />
  </wsdl:message>
  <wsdl:message name="AmirleriGetirSorumluluktanSoapIn">
    <wsdl:part name="parameters" element="tns:AmirleriGetirSorumluluktan" />
  </wsdl:message>
  <wsdl:message name="AmirleriGetirSorumluluktanSoapOut">
    <wsdl:part name="parameters" element="tns:AmirleriGetirSorumluluktanResponse" />
  </wsdl:message>
  <wsdl:message name="FirmaPersonelAmirleriGetirSoapIn">
    <wsdl:part name="parameters" element="tns:FirmaPersonelAmirleriGetir" />
  </wsdl:message>
  <wsdl:message name="FirmaPersonelAmirleriGetirSoapOut">
    <wsdl:part name="parameters" element="tns:FirmaPersonelAmirleriGetirResponse" />
  </wsdl:message>
  <wsdl:message name="MudurlukAltindakiBirimlerSoapIn">
    <wsdl:part name="parameters" element="tns:MudurlukAltindakiBirimler" />
  </wsdl:message>
  <wsdl:message name="MudurlukAltindakiBirimlerSoapOut">
    <wsdl:part name="parameters" element="tns:MudurlukAltindakiBirimlerResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelKadroListesiSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelKadroListesi" />
  </wsdl:message>
  <wsdl:message name="PersonelKadroListesiSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelKadroListesiResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelKadroListesiSorumluluktanSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelKadroListesiSorumluluktan" />
  </wsdl:message>
  <wsdl:message name="PersonelKadroListesiSorumluluktanSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelKadroListesiSorumluluktanResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelBilgileriSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelBilgileri" />
  </wsdl:message>
  <wsdl:message name="PersonelBilgileriSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelBilgileriResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelBilgiGetirTcdenSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelBilgiGetirTcden" />
  </wsdl:message>
  <wsdl:message name="PersonelBilgiGetirTcdenSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelBilgiGetirTcdenResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelBilgileriSorumluluktanSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelBilgileriSorumluluktan" />
  </wsdl:message>
  <wsdl:message name="PersonelBilgileriSorumluluktanSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelBilgileriSorumluluktanResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelBilgileriAyrilanlarDahilSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelBilgileriAyrilanlarDahil" />
  </wsdl:message>
  <wsdl:message name="PersonelBilgileriAyrilanlarDahilSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelBilgileriAyrilanlarDahilResponse" />
  </wsdl:message>
  <wsdl:message name="KullaniciUnvanGetirSoapIn">
    <wsdl:part name="parameters" element="tns:KullaniciUnvanGetir" />
  </wsdl:message>
  <wsdl:message name="KullaniciUnvanGetirSoapOut">
    <wsdl:part name="parameters" element="tns:KullaniciUnvanGetirResponse" />
  </wsdl:message>
  <wsdl:message name="BirimListesiAsJsonSoapIn">
    <wsdl:part name="parameters" element="tns:BirimListesiAsJson" />
  </wsdl:message>
  <wsdl:message name="BirimListesiAsJsonSoapOut">
    <wsdl:part name="parameters" element="tns:BirimListesiAsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelVekaletGetirSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelVekaletGetir" />
  </wsdl:message>
  <wsdl:message name="PersonelVekaletGetirSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelVekaletGetirResponse" />
  </wsdl:message>
  <wsdl:message name="TetkikciKategoriGetirSoapIn">
    <wsdl:part name="parameters" element="tns:TetkikciKategoriGetir" />
  </wsdl:message>
  <wsdl:message name="TetkikciKategoriGetirSoapOut">
    <wsdl:part name="parameters" element="tns:TetkikciKategoriGetirResponse" />
  </wsdl:message>
  <wsdl:message name="TetkikciNaceGetirSoapIn">
    <wsdl:part name="parameters" element="tns:TetkikciNaceGetir" />
  </wsdl:message>
  <wsdl:message name="TetkikciNaceGetirSoapOut">
    <wsdl:part name="parameters" element="tns:TetkikciNaceGetirResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelVekaletGetirSorumluluktanSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelVekaletGetirSorumluluktan" />
  </wsdl:message>
  <wsdl:message name="PersonelVekaletGetirSorumluluktanSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelVekaletGetirSorumluluktanResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelIzinOnayNoAlSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelIzinOnayNoAl" />
  </wsdl:message>
  <wsdl:message name="PersonelIzinOnayNoAlSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelIzinOnayNoAlResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelGorevIzinGirSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelGorevIzinGir" />
  </wsdl:message>
  <wsdl:message name="PersonelGorevIzinGirSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelGorevIzinGirResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelIzinHavaleEdildiSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelIzinHavaleEdildi" />
  </wsdl:message>
  <wsdl:message name="PersonelIzinHavaleEdildiSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelIzinHavaleEdildiResponse" />
  </wsdl:message>
  <wsdl:message name="TetkikciKategoriGirSoapIn">
    <wsdl:part name="parameters" element="tns:TetkikciKategoriGir" />
  </wsdl:message>
  <wsdl:message name="TetkikciKategoriGirSoapOut">
    <wsdl:part name="parameters" element="tns:TetkikciKategoriGirResponse" />
  </wsdl:message>
  <wsdl:message name="TetkikciNaceGirSoapIn">
    <wsdl:part name="parameters" element="tns:TetkikciNaceGir" />
  </wsdl:message>
  <wsdl:message name="TetkikciNaceGirSoapOut">
    <wsdl:part name="parameters" element="tns:TetkikciNaceGirResponse" />
  </wsdl:message>
  <wsdl:message name="VekaletKullaniciUNGetirByPersonelUNSoapIn">
    <wsdl:part name="parameters" element="tns:VekaletKullaniciUNGetirByPersonelUN" />
  </wsdl:message>
  <wsdl:message name="VekaletKullaniciUNGetirByPersonelUNSoapOut">
    <wsdl:part name="parameters" element="tns:VekaletKullaniciUNGetirByPersonelUNResponse" />
  </wsdl:message>
  <wsdl:message name="PersonelBimserSoapIn">
    <wsdl:part name="parameters" element="tns:PersonelBimser" />
  </wsdl:message>
  <wsdl:message name="PersonelBimserSoapOut">
    <wsdl:part name="parameters" element="tns:PersonelBimserResponse" />
  </wsdl:message>
  <wsdl:portType name="ikbsSoap">
    <wsdl:operation name="BirimListesi">
      <wsdl:input message="tns:BirimListesiSoapIn" />
      <wsdl:output message="tns:BirimListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelListesi">
      <wsdl:input message="tns:PersonelListesiSoapIn" />
      <wsdl:output message="tns:PersonelListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelListesiPDKS">
      <wsdl:input message="tns:PersonelListesiPDKSSoapIn" />
      <wsdl:output message="tns:PersonelListesiPDKSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinListesiPDKS">
      <wsdl:input message="tns:PersonelIzinListesiPDKSSoapIn" />
      <wsdl:output message="tns:PersonelIzinListesiPDKSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinGorulduYapPDKS">
      <wsdl:input message="tns:PersonelIzinGorulduYapPDKSSoapIn" />
      <wsdl:output message="tns:PersonelIzinGorulduYapPDKSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BirimBilgisiGetir">
      <wsdl:input message="tns:BirimBilgisiGetirSoapIn" />
      <wsdl:output message="tns:BirimBilgisiGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BirimGrupBaskaniGetir">
      <wsdl:input message="tns:BirimGrupBaskaniGetirSoapIn" />
      <wsdl:output message="tns:BirimGrupBaskaniGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelSorumlulukGetirTCden">
      <wsdl:input message="tns:PersonelSorumlulukGetirTCdenSoapIn" />
      <wsdl:output message="tns:PersonelSorumlulukGetirTCdenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelSorumlulukGetir">
      <wsdl:input message="tns:PersonelSorumlulukGetirSoapIn" />
      <wsdl:output message="tns:PersonelSorumlulukGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiIzinliSayisi">
      <wsdl:input message="tns:MudurlukAltindakiIzinliSayisiSoapIn" />
      <wsdl:output message="tns:MudurlukAltindakiIzinliSayisiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiIzinliSayisiSorumluluktan">
      <wsdl:input message="tns:MudurlukAltindakiIzinliSayisiSorumluluktanSoapIn" />
      <wsdl:output message="tns:MudurlukAltindakiIzinliSayisiSorumluluktanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AmirleriGetir">
      <wsdl:input message="tns:AmirleriGetirSoapIn" />
      <wsdl:output message="tns:AmirleriGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AmirleriGetirSorumluluktan">
      <wsdl:input message="tns:AmirleriGetirSorumluluktanSoapIn" />
      <wsdl:output message="tns:AmirleriGetirSorumluluktanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FirmaPersonelAmirleriGetir">
      <wsdl:input message="tns:FirmaPersonelAmirleriGetirSoapIn" />
      <wsdl:output message="tns:FirmaPersonelAmirleriGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiBirimler">
      <wsdl:input message="tns:MudurlukAltindakiBirimlerSoapIn" />
      <wsdl:output message="tns:MudurlukAltindakiBirimlerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelKadroListesi">
      <wsdl:input message="tns:PersonelKadroListesiSoapIn" />
      <wsdl:output message="tns:PersonelKadroListesiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelKadroListesiSorumluluktan">
      <wsdl:input message="tns:PersonelKadroListesiSorumluluktanSoapIn" />
      <wsdl:output message="tns:PersonelKadroListesiSorumluluktanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileri">
      <wsdl:input message="tns:PersonelBilgileriSoapIn" />
      <wsdl:output message="tns:PersonelBilgileriSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgiGetirTcden">
      <wsdl:input message="tns:PersonelBilgiGetirTcdenSoapIn" />
      <wsdl:output message="tns:PersonelBilgiGetirTcdenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileriSorumluluktan">
      <wsdl:input message="tns:PersonelBilgileriSorumluluktanSoapIn" />
      <wsdl:output message="tns:PersonelBilgileriSorumluluktanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileriAyrilanlarDahil">
      <wsdl:input message="tns:PersonelBilgileriAyrilanlarDahilSoapIn" />
      <wsdl:output message="tns:PersonelBilgileriAyrilanlarDahilSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciUnvanGetir">
      <wsdl:input message="tns:KullaniciUnvanGetirSoapIn" />
      <wsdl:output message="tns:KullaniciUnvanGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BirimListesiAsJson">
      <wsdl:input message="tns:BirimListesiAsJsonSoapIn" />
      <wsdl:output message="tns:BirimListesiAsJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelVekaletGetir">
      <wsdl:input message="tns:PersonelVekaletGetirSoapIn" />
      <wsdl:output message="tns:PersonelVekaletGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TetkikciKategoriGetir">
      <wsdl:input message="tns:TetkikciKategoriGetirSoapIn" />
      <wsdl:output message="tns:TetkikciKategoriGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TetkikciNaceGetir">
      <wsdl:input message="tns:TetkikciNaceGetirSoapIn" />
      <wsdl:output message="tns:TetkikciNaceGetirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelVekaletGetirSorumluluktan">
      <wsdl:input message="tns:PersonelVekaletGetirSorumluluktanSoapIn" />
      <wsdl:output message="tns:PersonelVekaletGetirSorumluluktanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinOnayNoAl">
      <wsdl:input message="tns:PersonelIzinOnayNoAlSoapIn" />
      <wsdl:output message="tns:PersonelIzinOnayNoAlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelGorevIzinGir">
      <wsdl:input message="tns:PersonelGorevIzinGirSoapIn" />
      <wsdl:output message="tns:PersonelGorevIzinGirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinHavaleEdildi">
      <wsdl:input message="tns:PersonelIzinHavaleEdildiSoapIn" />
      <wsdl:output message="tns:PersonelIzinHavaleEdildiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TetkikciKategoriGir">
      <wsdl:input message="tns:TetkikciKategoriGirSoapIn" />
      <wsdl:output message="tns:TetkikciKategoriGirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TetkikciNaceGir">
      <wsdl:input message="tns:TetkikciNaceGirSoapIn" />
      <wsdl:output message="tns:TetkikciNaceGirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VekaletKullaniciUNGetirByPersonelUN">
      <wsdl:input message="tns:VekaletKullaniciUNGetirByPersonelUNSoapIn" />
      <wsdl:output message="tns:VekaletKullaniciUNGetirByPersonelUNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonelBimser">
      <wsdl:input message="tns:PersonelBimserSoapIn" />
      <wsdl:output message="tns:PersonelBimserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ikbsSoap" type="tns:ikbsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BirimListesi">
      <soap:operation soapAction="http://tempuri.org/BirimListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelListesi">
      <soap:operation soapAction="http://tempuri.org/PersonelListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelListesiPDKS">
      <soap:operation soapAction="http://tempuri.org/PersonelListesiPDKS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinListesiPDKS">
      <soap:operation soapAction="http://tempuri.org/PersonelIzinListesiPDKS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinGorulduYapPDKS">
      <soap:operation soapAction="http://tempuri.org/PersonelIzinGorulduYapPDKS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirimBilgisiGetir">
      <soap:operation soapAction="http://tempuri.org/BirimBilgisiGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirimGrupBaskaniGetir">
      <soap:operation soapAction="http://tempuri.org/BirimGrupBaskaniGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelSorumlulukGetirTCden">
      <soap:operation soapAction="http://tempuri.org/PersonelSorumlulukGetirTCden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelSorumlulukGetir">
      <soap:operation soapAction="http://tempuri.org/PersonelSorumlulukGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiIzinliSayisi">
      <soap:operation soapAction="http://tempuri.org/MudurlukAltindakiIzinliSayisi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiIzinliSayisiSorumluluktan">
      <soap:operation soapAction="http://tempuri.org/MudurlukAltindakiIzinliSayisiSorumluluktan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AmirleriGetir">
      <soap:operation soapAction="http://tempuri.org/AmirleriGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AmirleriGetirSorumluluktan">
      <soap:operation soapAction="http://tempuri.org/AmirleriGetirSorumluluktan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmaPersonelAmirleriGetir">
      <soap:operation soapAction="http://tempuri.org/FirmaPersonelAmirleriGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiBirimler">
      <soap:operation soapAction="http://tempuri.org/MudurlukAltindakiBirimler" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelKadroListesi">
      <soap:operation soapAction="http://tempuri.org/PersonelKadroListesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelKadroListesiSorumluluktan">
      <soap:operation soapAction="http://tempuri.org/PersonelKadroListesiSorumluluktan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileri">
      <soap:operation soapAction="http://tempuri.org/PersonelBilgileri" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgiGetirTcden">
      <soap:operation soapAction="http://tempuri.org/PersonelBilgiGetirTcden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileriSorumluluktan">
      <soap:operation soapAction="http://tempuri.org/PersonelBilgileriSorumluluktan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileriAyrilanlarDahil">
      <soap:operation soapAction="http://tempuri.org/PersonelBilgileriAyrilanlarDahil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciUnvanGetir">
      <soap:operation soapAction="http://tempuri.org/KullaniciUnvanGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirimListesiAsJson">
      <soap:operation soapAction="http://tempuri.org/BirimListesiAsJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelVekaletGetir">
      <soap:operation soapAction="http://tempuri.org/PersonelVekaletGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TetkikciKategoriGetir">
      <soap:operation soapAction="http://tempuri.org/TetkikciKategoriGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TetkikciNaceGetir">
      <soap:operation soapAction="http://tempuri.org/TetkikciNaceGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelVekaletGetirSorumluluktan">
      <soap:operation soapAction="http://tempuri.org/PersonelVekaletGetirSorumluluktan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinOnayNoAl">
      <soap:operation soapAction="http://tempuri.org/PersonelIzinOnayNoAl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelGorevIzinGir">
      <soap:operation soapAction="http://tempuri.org/PersonelGorevIzinGir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinHavaleEdildi">
      <soap:operation soapAction="http://tempuri.org/PersonelIzinHavaleEdildi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TetkikciKategoriGir">
      <soap:operation soapAction="http://tempuri.org/TetkikciKategoriGir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TetkikciNaceGir">
      <soap:operation soapAction="http://tempuri.org/TetkikciNaceGir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VekaletKullaniciUNGetirByPersonelUN">
      <soap:operation soapAction="http://tempuri.org/VekaletKullaniciUNGetirByPersonelUN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBimser">
      <soap:operation soapAction="http://tempuri.org/PersonelBimser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ikbsSoap12" type="tns:ikbsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BirimListesi">
      <soap12:operation soapAction="http://tempuri.org/BirimListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelListesi">
      <soap12:operation soapAction="http://tempuri.org/PersonelListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelListesiPDKS">
      <soap12:operation soapAction="http://tempuri.org/PersonelListesiPDKS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinListesiPDKS">
      <soap12:operation soapAction="http://tempuri.org/PersonelIzinListesiPDKS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinGorulduYapPDKS">
      <soap12:operation soapAction="http://tempuri.org/PersonelIzinGorulduYapPDKS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirimBilgisiGetir">
      <soap12:operation soapAction="http://tempuri.org/BirimBilgisiGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirimGrupBaskaniGetir">
      <soap12:operation soapAction="http://tempuri.org/BirimGrupBaskaniGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelSorumlulukGetirTCden">
      <soap12:operation soapAction="http://tempuri.org/PersonelSorumlulukGetirTCden" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelSorumlulukGetir">
      <soap12:operation soapAction="http://tempuri.org/PersonelSorumlulukGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiIzinliSayisi">
      <soap12:operation soapAction="http://tempuri.org/MudurlukAltindakiIzinliSayisi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiIzinliSayisiSorumluluktan">
      <soap12:operation soapAction="http://tempuri.org/MudurlukAltindakiIzinliSayisiSorumluluktan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AmirleriGetir">
      <soap12:operation soapAction="http://tempuri.org/AmirleriGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AmirleriGetirSorumluluktan">
      <soap12:operation soapAction="http://tempuri.org/AmirleriGetirSorumluluktan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FirmaPersonelAmirleriGetir">
      <soap12:operation soapAction="http://tempuri.org/FirmaPersonelAmirleriGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MudurlukAltindakiBirimler">
      <soap12:operation soapAction="http://tempuri.org/MudurlukAltindakiBirimler" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelKadroListesi">
      <soap12:operation soapAction="http://tempuri.org/PersonelKadroListesi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelKadroListesiSorumluluktan">
      <soap12:operation soapAction="http://tempuri.org/PersonelKadroListesiSorumluluktan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileri">
      <soap12:operation soapAction="http://tempuri.org/PersonelBilgileri" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgiGetirTcden">
      <soap12:operation soapAction="http://tempuri.org/PersonelBilgiGetirTcden" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileriSorumluluktan">
      <soap12:operation soapAction="http://tempuri.org/PersonelBilgileriSorumluluktan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBilgileriAyrilanlarDahil">
      <soap12:operation soapAction="http://tempuri.org/PersonelBilgileriAyrilanlarDahil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciUnvanGetir">
      <soap12:operation soapAction="http://tempuri.org/KullaniciUnvanGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BirimListesiAsJson">
      <soap12:operation soapAction="http://tempuri.org/BirimListesiAsJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelVekaletGetir">
      <soap12:operation soapAction="http://tempuri.org/PersonelVekaletGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TetkikciKategoriGetir">
      <soap12:operation soapAction="http://tempuri.org/TetkikciKategoriGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TetkikciNaceGetir">
      <soap12:operation soapAction="http://tempuri.org/TetkikciNaceGetir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelVekaletGetirSorumluluktan">
      <soap12:operation soapAction="http://tempuri.org/PersonelVekaletGetirSorumluluktan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinOnayNoAl">
      <soap12:operation soapAction="http://tempuri.org/PersonelIzinOnayNoAl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelGorevIzinGir">
      <soap12:operation soapAction="http://tempuri.org/PersonelGorevIzinGir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelIzinHavaleEdildi">
      <soap12:operation soapAction="http://tempuri.org/PersonelIzinHavaleEdildi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TetkikciKategoriGir">
      <soap12:operation soapAction="http://tempuri.org/TetkikciKategoriGir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TetkikciNaceGir">
      <soap12:operation soapAction="http://tempuri.org/TetkikciNaceGir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VekaletKullaniciUNGetirByPersonelUN">
      <soap12:operation soapAction="http://tempuri.org/VekaletKullaniciUNGetirByPersonelUN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonelBimser">
      <soap12:operation soapAction="http://tempuri.org/PersonelBimser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ikbs">
    <wsdl:port name="ikbsSoap" binding="tns:ikbsSoap">
      <soap:address location="http://ikbs.tse.org.tr/webservisler/ikbs.asmx" />
    </wsdl:port>
    <wsdl:port name="ikbsSoap12" binding="tns:ikbsSoap12">
      <soap12:address location="http://ikbs.tse.org.tr/webservisler/ikbs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>